/* utility class */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  margin:0 auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.floatl{
  float: left;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.fl{
  float: left;
}

.fr{
  float: right;
}
/* fine utility */
.wrapper{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

/* inizio main */
.main{
  height: calc(100% - 90px);
  overflow: hidden;
  background-color: green;
}

.cont-navbarlat{
  width: 20%;
  height: 100%;
  border: 2px solid red;
}

.cont-main{
  width: 80%;
  height: 100%;
  border: 2px solid yellow;
}

.cont-main-nav{
  width: 100%;
  height: 10%;
  border: 2px solid black;
}

.cont-main-nav{
  width: 100%;
  height: 90%;
  border: 2px solid white;
}
/* fine main */

/* inizio footer */
.footer{
  height: 90px;
  background-color: orange;
}
/* fine footer */
