/* utility class */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  width: 1200px;
  margin:0 auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.floatl{
  float: left;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.tc{
  text-align: center;
}

.txt-wh{
  color: #fff;
}

.txt-gr{
  color: #717171;
}

.fl{
  float: left;
}

.fr{
  float: right;
}
/* fine utility */
.wrapper{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #141922;
}
/* inizionavbar */
.cont-navbarlat{
  width: 230px;
  height: 100%;
  padding-left: 20px;
  background-color: #000;
}

.topnavbarlat{
  height: calc(100% - 80px);
  overflow: hidden;
}

.logoimg{
  height: auto;
  width: 60%;
}

.imgli{
  margin-bottom: 30px;
  margin-top: 30px;
}

.licon{
  height: 42px;
  line-height: 42px;
}

.litxt{
  height: 42px;
  line-height: 42px;
  vertical-align:middle;
  font-size: 18px;
}

.litxt2{
  height: 42px;
  line-height: 42px;
  vertical-align:middle;
  font-size: 20px;
}

.icon{
  height: 42px;
  width: 42px;
  vertical-align:middle;
}

.ul-top{
  height: 198px;
}

.ul-middle{
  height: 84px;
}

.uldownnavbarlat{
  overflow-y: auto;
  height: calc(100% - 198px - 84px);
}

.plusicon{
  font-size: 42px;
  vertical-align: middle;
  color:#A3A3A3;
  margin-right: 10px;
}

.litit{
  margin-top: 30px;
  font-size: 15px;
}

.playli{
  margin-top:15px;
  font-size: 18px;
}

.downnavbarlat{
  height: 80px;
  background-color: #000;
}

.navdownup{
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  width: calc(100% - 20px);
  margin-bottom:10px;
}

.navdowdown{
  margin-top: 10px;
}

.downar{
  color:#A4A4A4;
  margin-right: 10px;
}

.circle{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-color: #A4A4A4;
  background-image: url(../images/profile.svg);
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.john{
  font-weight: bolder;
  font-size: 20px;
}
/* fine navbar */
/* inizio main */
.main{
  height: calc(100% - 90px);
  overflow: hidden;
}

.cont-main{
  width: calc(100% - 230px);
  height: calc(100% - 90px) ;
  border: 2px solid yellow;
  overflow-y: auto;
}

.cont-main-nav{
  width: calc(100% - 230px);
  height: 90px;
  background-color: #080B12;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

.button{
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  text-align: center;
  margin-right: 10px;
}

.button > a{
  color: #fff;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}

.cont-main-playlist{
  width: 100%;
  height: 100%;
  border: 2px solid white;
  overflow-y: auto;
}

.main-content-nav {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 90px;
}

.main-content-nav > ul > li{
  display: inline-block;
  margin-right: 15px;
}

.content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: darkgrey;
  overflow-y: auto;
}

.first-section {
  display:flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin-left: 15px;
  margin-bottom: 20px;
}

.first-h2{
  margin-left: 15px;
  margin-top: 20px;
}

.johnfav,.johnfavsub{
  margin-left: 15px;
}

.content .generic-item {
  width: calc(100% / 6 - 15px);
  border: 1px #000 solid;
  margin-right: 15px;
  margin-top: 15px;
  max-width: 200px;
}

.content .generic-item img {
  width: 100%;
  vertical-align: middle;
}

.content .generic-item .cover-text {
  text-align: center;
}

.circleplaylist{
  width: 198px;
  height: 198px;
  background-image: url("../images/youg.jpeg");
  margin: 0 auto;
  border-radius: 100px;
  background-size: cover;
}

.circleplaylist-2{
  width: 198px;
  height: 198px;
  background-image: url("../images/einaudi.jpeg");
  margin: 0 auto;
  border-radius: 100px;
  background-size: cover;
}
/* fine main */

/* inizio footer */


footer {
  height: 90px;
  background: #282828;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.mini, .options {
  width: 20%;
  border: 1px #fff solid;
}

.mini > ul > li > img{
  width: 15%;
  height: auto;
}

.mini > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini > ul > li {
  list-style: none;
}

.player {
  width: 60%;
  text-align: center;
  border: 2px green solid;
}

.player ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.options > ul{
  height: 90px;
  line-height: 90px;
  padding-left: 100px ;
}

.options > ul > li{
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.hr-volume{
  background-color: #717171;
  width: 120px;
  height: 4px;
}

.player ul li.big {
  font-size: 32px;
  padding: 10px 20px;
}

.player ul li.big:hover {
  transform: scale(1.2);
}

.player-control-time {
  background: rgba(255,255,255,.2);
  width: 100%;
  height: 4px;
}

.player-control-time .elapsed-time {
  position: relative;
  background: rgba(255,255,255,.8);
  height: 100%;
}

.elapsed-time .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-control-time:hover .point {
  display: block;
}

.perc-20 {
  width: 20%;
}

.perc-40 {
  width: 40%;
}
/* fine footer */

/* inizio media query */
@media (max-width: 991px) {
  .content .generic-item {
    width: calc(100% / 4 - 15px);
  }
 }


 /* xs */
 @media (max-width: 767px) {
   .content .generic-item {
     width: calc(100% / 2 - 15px);
   }
 }


/* xs */
@media (max-width: 575px) {
  .content .generic-item {
    width: calc(100% / 2 - 15px);
  }


}
